<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Booklist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-sm btn-danger" type="submit" value="Log out" />
	</form>
	<h1>Books</h1>
	<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.author}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.category.name}"></td>
			<td sec:authorize="hasAuthority('ADMIN')" class="btn btn-danger"><a
				th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
		</tr>
	</table>
	<button class="btn btn-success">
		<a href="/add">Add Student</a>
	</button>
</body>
</html>